{% extends "frontend/base.html" %}

{%block navbarTitle %} {{ course.title }} - {{lesson.title}} {% endblock %}

{% block mainContent %}
		<div class="container">
			<!-- NavBar -->
			<div class="row">
				<ul class="breadcrumb">
					<li><a href="/">{{course.title}}</a></li>
					<li><a href="/course/{{course.pk }}/lessons">{{lesson.title}}</a></li>
					{% for crumb in crumbs %}
						{% if not forloop.last %}
							<li><a href="/item/{{course.pk }}/{{lesson.pk}}/{{ parent }}/related/{{ crumb.pk }}/">{{crumb.title}}</a></li>
						{% else %}
							<li class="active">{{crumb.title}}</li>
						{% endif %}
					{% endfor %}
					
				</ul>
			</div>
			
			{% if item.item_type == item.TYPE_RESOURCE %}
				{% include "frontend/resource.html" with item=item lesson=lesson course=course %}
			{% elif item.item_type == item.TYPE_TEST%}
				{% include "frontend/test.html" with item=item lesson=lesson course=course %}			
			{% else %}
				<p> I do not know this type of resource. Probably an external resource </p><br>
				item.url
			{% endif %}

		</div>
{% endblock mainContent %}

{% block footer %}
	{{course.title}} - {{lesson.title}}
{% endblock footer %}
