{% extends "frontend/base.html" %}
			
			
{% block mainContent %}
	<div class="container">
			{% if courses|length > 0 %} 
			<!-- Main Content -->
			<div class="row">
				<h3> Courses </h3>
			</div>

					
				<!-- Course List -->
				{% for course in courses %}
				<div class="row">	
					<div class="panel panel-info">
						<div class="panel-heading">
						<div class="row">
							<div class="col-lg-8">
								<h3 class="panel-title">{{ course.title }}</h3> 
							</div>
							<div class="col-lg-4">
								<a href="/course/{{course.pk }}/lessons"><button type="button" class="btn btn-primary pull-right">Start Course</button></a>
							</div>
						</div>
						</div>
						<div class="panel-body">
							<div class="row">				
								<div class="col-lg-8">			
									<p>{{ course.description }} </p>
								</div>
								<div class="col-lg-4">
									{% if course.lessons.count > 0 %} 
										<div class="panel panel-default">
										{% for lesson in course.lessons.all %}
											<div class="panel-body"> {{ lesson.title }} </div>
										{% endfor %}
										</div>
									{% endif %}	
								</div>
							</div>
						</div>	
					</div>
				</div>					
				{% endfor %}	
			{% endif %}

		</div>
{% endblock mainContent %}

{% block footer %}
Surgery Courses
{% endblock footer %}