{% extends "frontend/base.html" %}

{% block navbarTitle %} {{ course.title }} {% endblock %}

{% block mainContent %}
		
			<div class="container">
				<h3>Course Description:</h3>
				<p> {{course.description}} </p>
				
			
			{% for lesson in lessons %}
				<div class="panel-info">
					<div class="panel-heading">
						<div class="row">
							<div class="col-lg-8">	
								<h3> Lesson: {{ lesson.title }} </h3> 
								
							</div>
							<div class="col-lg-4">	
								<a href="/item/{{course.pk }}/{{lesson.pk}}/1"><button type="button" class="btn btn-primary pull-right">Start Lesson</button></a>
								<br><br>
								<p align="right">resources: <span class="badge"> {{lesson.items.count }}  </span> </p>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="btn-toolbar">
							<div class="btn-group">
							{% for item in lesson.items.all %}
									<a href="/item/{{course.pk }}/{{lesson.pk}}/{{ forloop.counter }}">
										<button type="button" class="btn btn-default">
											<div class="container-fluid">
												{{ forloop.counter }}: {{item.title}}
												{% if item.item_type == item.TYPE_TEST %}
													- exercise
												{% endif %}
											</div>
										</button>
									</a>
							{% endfor %}
							</div>
						</div>
					</div>
				</div>	
				<br>
			{% endfor %}
			</div>	
{% endblock mainContent %}

{% block footer %}
	{{ course.title }}
{% endblock footer %}
