{% extends "frontend/base.html" %}

{%block navbarTitle %} {{ course.title }} - {{lesson.title}} {% endblock %}

{% block mainContent %}
		<div class="container">
			<!-- NavBar -->
			<div class="row">
				<ul class="breadcrumb">
					<li><a href="/">{{course.title}}</a></li>
					<li><a href="/course/{{course.pk }}/lessons">{{lesson.title}}</a></li>
					{% for crumb in crumbs %}
						<li><a href="">{{crumb.title}}</a></li>
					{% endfor %}
					<li class="active">{{resource.title}}</li>
				</ul>
			</div>
			
			
			<!-- Main Content -->
			<div class="row">
				<h3> {{resource.title}} </h3>
			</div>
			<div class="row">			
			<!-- Main Resource -->
				<div class="col-lg-8">
					{{ resource.body|safe }}<br>
					<ul class="pager pull-left clearfix">
						{% for button in button_list %}
							<li><a href={{ button.url }}>{{ button.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
				
				<!-- Extra Resources -->
				<div class="col-lg-4">
				{% if resource.related.all|length > 0 %}
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">More Info</h3>
						</div>
						{% for relatedRes in resource.related.all %}
							{% if relatedRes.resource_type == relatedRes.TYPE_RESOURCE %}						
							<div class="panel-body">
								{% if parent %}
									<a href="/resource/{{course.pk }}/{{lesson.pk}}/{{ parent }}/related/{{ relatedRes.pk }}/"> {{relatedRes.title}} </a>
								{% else %}
									<a href="/resource/{{course.pk }}/{{lesson.pk}}/{{ crt_index }}/related/{{ relatedRes.pk }}/"> {{relatedRes.title}} </a>
								{% endif %}
							</div>
							{% elif relatedRes.resource_type == relatedRes.TYPE_EXTERNAL %}
							<div class="panel-body">
								<a href="{{ relatedRes.externalresource.url }}" target="blank">{{relatedRes.title}}</a>
								<span class="label label-info pull-right">external</span>
							</div>
							{% else %}
							<div class="panel-body">
								{{ relatedRed.title }} {{ relatedRes.resource_type }}
								
							</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
				</div>
			</div>
		</div>
{% endblock mainContent %}

{% block footer %}
	{{course.title}} - {{lesson.title}}
{% endblock footer %}