<h3>{{ item.title }}</h3>

<div class="container">
    <form onsubmit="return false;" class="form-horizontal">
     {% csrf_token %}
	{% for exercise in item.questions.all %}
		<h4>{{ exercise|safe }}</h4>
		<!-- Correct Answer -->
		<div class="alert alert-dismissable alert-success" style="display: none"
			id="correctfor{{exercise.pk}}">
		</div>
		<!-- Incorrect Answer -->
		<div class="alert alert-dismissable alert-danger" style="display: none"
			id="incorrectfor{{exercise.pk}}">
		</div>
		{% if exercise.type == "regular_question" %}
			<!-- Form Answer -->
			<div class="form-group">
				<label class="control-label">Answer</label>
				<div class="input-group">
					<input type="text" name="{{ exercise.pk }}"class="form-control">
				</div>
			</div>
		{% elif exercise.type == "mc_question" %}
		<div class="form-group">
			{% for option in exercise.options.all %}
			<div class="radio">
				<label>
					<input type="checkbox" name="{{ exercise.pk }}"
					  id="optionsRadios1" value="{{ option.pk }}">
					{{ option.answer }}
				</label>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		<br>
	{% endfor %}
    <button type="submit" class="btn btn-primary pull-right"
        onclick="assessment_api(this.parentNode, {{ item.pk }});">Submit</button>
</form>
<ul class="pager pull-left clearfix">
	{% for button in button_list %}
		<li><a href={{ button.url }}>{{ button.title }}</a></li>
	{% endfor %}
</ul>

</div>

